html, body {
  height: 100%;
  margin: 0;
}

#footer-bar {
  height: 25px;
  line-height: 25px;
  padding: 0;
  margin-top: -25px;
  overflow: hidden;
  text-align: center;
  color: white;
  background-color: #5BAEC5;
}

#footer-bar span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

#main-area {
  z-index: 0;
  min-height: 100vh;
  margin-top: 45px;
  margin-bottom: 30px;
}

#header-bar ul {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  height: 40px;
  margin-top: 0px;
  margin-bottom: -40px;
  margin-right: 0px;
  padding: 0;
  overflow: hidden;
  background-color: #5BAEC5;
}

#header-bar li {
  float: left;
}

#header-bar li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 11px 16px;
  text-decoration: none;
}

#header-bar li a:hover, .dropdown:hover {
  background-color: #F15A22;
}

#header-bar li.dropdown {
  min-width: 100px;
  display: inline-block;
  float: right;
}

#header-bar .dropdown .dropdown-content {
  display: none;
  float: right;
  position: fixed;
  min-width: 100px;
  z-index: 2;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#header-bar .dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}

#header-bar .dropdown-content a:hover {background-color: #f1f1f1;}

#header-bar .dropdown:hover .dropdown-content {
  display: block;
}

#header-bar li .active {
  text-decoration: underline;
}

.home-content-block {
  display: block;
  text-align: center;
  width: 80%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.home-content-banner h2, p{
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  color: white;
  text-align: center;
}

.home-content-banner{
  display: block;
  background-color: #F15A22;
  opacity: 0.6;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.home-content-block a img {
  display: block;
  max-width:100%;
  max-height:90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
