.mainArea--btns {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 10px;
    min-height: 100vh;
}

.btns {
    background-color: var(--pink);
    padding: 3em;
    transform: rotate(4deg);
    font-size: 20px;
    color: white;
}

.btns__innner {
    transform: rotate(-4deg);
}

.btn {
    padding: 0.5em 1em;
    font-size: 20px;
}

.burger-btn {
    align-self: center;
    float: right;
    margin-right: 5px;
    padding: 5px;
}

.burger-btn:hover {
    margin-right: 4px;
    border: 1px solid white;
    border-radius: 25px;
}

.burger-btn__line {
    width: 20px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
}

.strangeButton--hover {
    background-color: var(--pink);
    color: white;
    font-size: 30px;
    transform: rotate(-4deg);
}

.filler {
    flex: 1;
}

.break {
    flex-basis: 100%;
    height: 0;
}
